.hero {
  width: 100%;
  height: 760px;
  background-color: #1c1e53;
  .menu {
    width: 100%;
    height: 92px;
    display: flex;
    flex-flow: row wrap;
    .logo {
      width: 122px;
      display: flex;
      align-items: center;
      margin-right: 352px;
      margin-left: 160px;
    }
    .right {
      width: auto;
      height: auto;
      nav {
        width: inherit;
        height: inherit;
        ul {
          width: inherit;
          height: auto;
          display: flex;
          flex-flow: row wrap;
          list-style: none;
          column-gap: 42px;
          li {
            width: auto;
            height: auto;
            a {
              display: block;
              width: auto;
              height: auto;
              color: #bbbbcb;
              font-family: poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              text-transform: capitalize;
              line-height: 90px;
              text-decoration: none;
            }
          }
        }
      }
    }
    .contact {
      margin-left: 48px;
      display: flex;
      align-items: center;
      button {
        width: 185px;
        height: 60px;
        border-radius: 41px;
        border: 2px solid rgba(244, 246, 252, 0.2);
        background-color: transparent;
        color: var(--White, #fff);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
  .bHero {
    width: 100%;
    height: cal(100vh);
    display: flex;
    flex-flow: row wrap;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
    .text {
      width: 582px;
      height: 414px;
      display: flex;
      flex-flow: column wrap;
      row-gap: 24px;
      .textBold {
        color: #fff;
        font-family: Poppins;
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 74px;
      }
      .textHeading {
        color: var(--White, #fff);
        /* Paragraph */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        opacity: 0.7;
      }
      .btn {
        display: flex;
        flex-flow: row wrap;
        column-gap: 40px;
        align-items: center;
        button {
          display: inline-flex;
          padding: 16px 56px;
          justify-content: center;
          align-items: center;
          border-radius: 41px;
          background: #fcd980;
        }
        .a1 {
          text-decoration: none;
          text-transform: capitalize;
          color: var(--White, #fff);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 175% */
        }
        .a2 {
          width: 24px; 
          fill: var(--White, #fff);
          stroke-width: 1.5px;
          stroke: var(--Grey, #f4f6fc);
        }
      }
    }
    @keyframes rotate {
        from{ 
            transform: rotateY(0);
        }
        to{ 
            transform: rotateY(45deg);
        }
        
    }
    .illustration {
      width: 630px;
      height: 361.115px;
      perspective: 800px;
      .center{
        animation-name: rotate;
        animation-duration: 5000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate ;
        transition: 300ms;
        // &:hover{
        //     transform: rotate3d(1,1,1,-45deg);
        // }
      }
    }
  }
}
.menumobile {
  display: none;
}
